<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5912BC8F1C28EEE70005BB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5912BCA31C28EEE80005BB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5912BCAE1C28EEE80005BB56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
